@media (max-width: 575px) {

	/* Navbar */
	.navbar.fixed-top {
	  padding: 0 15px;
	}

	.navbar .navbar-nav {
		margin-bottom: 10px;
	}

	.navbar .navbar-nav li {
		padding: 8px 0;
	}

	.navbar-nav li a.nav-link {
		margin: 0 auto;
		padding: 5px 20px;
	}

	/* Carousel Area */
	.carousel .carousel-item {
		height: 100%;
	}
	.carousel .carousel-item img {
		width: auto !important;
		height: 100%;
	}
	.carousel .carousel-item .carousel-caption h1 {
		font-size: calc(1.2 * 20px);
	}
	.carousel .carousel-item .carousel-caption .element-image {
		bottom: calc(1.2 * -10px);
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}
	.carousel .carousel-item .carousel-caption .element-image img {
		height: calc(1.2 * 280px);
	}

	/* Video */
	.video-area .plyr video {
		object-fit: cover;
		height: calc(1.2 * 60vh);
	}

	.video-content h1 {
		font-size: 22px;
		line-height: 30px;
	}

	.video-content p {
		font-size: 14px;
	}

	/* Features Area */
	.features-area .box {
		padding: 30px 35px;
	}

	.features-area .box h3 {
		font-size: 16px;
	}

	.features-area .box p,
	.features-area .core-features .content-feature p {
		font-size: 14px;
	}

	/* Teams Area */
	.team-box .box-content.with-social-icon {
		bottom: calc(1.2 * 15px);
	}


	/* Client Area */
	.clients-area .carousel .carousel-item {
	  	height: auto;
	}
	.clients-area .carousel .carousel-item img {
		width: 30% !important;
		height: 100%;
	}

	/* Contact Area */
	.contact-area .detail-contact {
		margin-top: 35px;
		padding-left: 0;
	}

	/* Footer Area */
	footer .footer-top .widget {
		margin-bottom: 25px;
	}

	footer .footer-top .widget .widget-newsletter input,
	footer .footer-top .widget .widget-newsletter button {
		font-size: calc(1.2 * 12px);
		height: calc(1.2 * 38px);
		border: 0;
	}

}


@media (min-width: 576px) and (max-width: 767px) {

	/* Navbar */
	.navbar.fixed-top {
	  padding: 0 15px;
	}

	.navbar .navbar-nav {
		margin-bottom: 10px;
	}

	.navbar .navbar-nav li {
		padding: 8px 0;
	}

	.navbar-nav li a.nav-link {
		margin: 0 auto;
		padding: 5px 20px;
	}

	/* Carousel Area */
	.carousel .carousel-item {
		height: 100%;
	}
	.carousel .carousel-item img {
		width: auto !important;
		height: 100%;
	}
	.carousel .carousel-item .carousel-caption h1 {
		font-size: calc(1.2 * 20px);
	}
	.carousel .carousel-item .carousel-caption .element-image {
		bottom: calc(1.2 * 20px);
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}

	/* Video */
	.video-area .plyr video {
		object-fit: cover;
		height: calc(1.2 * 95vh);
	}

	/* Single Blog Area */
	.blog-author .author-box {
		padding: 40px 0;
	}

	/* Practise Area */
	.practise-area figure .post-image {
		min-width: 100%;
	}

	.practise-area figure.zoomOut-effects .post-info {
		padding: calc(1.2 * 1.5em);
	}

	.practise-area figure.zoomOut-effects .post-info h2 {
		font-size: calc(1.2 * 18px);
	}

	/* Client Area */
	.clients-area .carousel .carousel-item {
	  	height: auto;
	}
	.clients-area .carousel .carousel-item img {
		width: 30% !important;
		height: 100%;
	}

	/* Contact Area */
	.contact-area .detail-contact {
		margin-top: 35px;
		padding-left: 0;
	}

	/* Footer Area */
	footer .footer-top .widget {
		margin-bottom: 25px;
	}

	footer .footer-top .widget .widget-newsletter input,
	footer .footer-top .widget .widget-newsletter button {
		font-size: calc(1.2 * 12px);
		height: calc(1.2 * 38px);
	}

}


@media (min-width: 768px) and (max-width: 991px) {}


@media (min-width: 992px) and (max-width: 1199px) {}


@media (min-width: 1200px) {}


@media (max-width: 1280px) {

	/*.carousel .carousel-item .carousel-caption .element-image {
		bottom: 60px;
	}

	.carousel .carousel-item .carousel-caption .element-image img {
		height: 330px;
		margin-top: 22px;
	}*/

}


@media (min-width: 1400px) {
	.carousel .carousel-item .carousel-caption .element-image {
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: calc(1.3 * -15px);
	}
}
